.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 10px;
    animation: fadeIn 0.5s;
    font-size: 14px;
}
.login-popup-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: black;
}

.login-popup-title img{
    cursor: pointer;
    width: 16px;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 5px;
}

.login-popup-container button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: tomato;
    cursor: pointer;
    font-size: 15px;
}


.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 3px;
}

.login-popup p span {
    color: tomato;
    cursor: pointer;
    font-weight: 50px;
}

